In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('/Users/liliya/sf_projects/billionare/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
192,tt1020072,20000000,66787908,Selma,David Oyelowo|Tom Wilkinson|Carmen Ejogo|AndrÃ...,Ava DuVernay,"Martin Luther King, Lyndon Baines Johnson and ...","""Selma,"" as in Alabama, the place where segreg...",127,History|Drama,Plan B Entertainment|Harpo Films|Celador Films...,12/25/2014,7.5,2014
409,tt1001526,130000000,321885765,Megamind,Will Ferrell|Brad Pitt|Tina Fey|Jonah Hill|Dav...,Tom McGrath,His brain is off the chain.,Bumbling supervillain Megamind finally defeats...,95,Animation|Action|Comedy|Family|Science Fiction,DreamWorks Animation,10/28/2010,6.6,2010
324,tt0762125,70000000,104945765,Planet 51,Dwayne Johnson|Seann William Scott|Jessica Bie...,Jorge Blanco|Javier Abad|Marcos MartÃ­nez,Something strange is coming to their planet...Us!,When Earth astronaut Capt. Chuck Baker arrives...,91,Science Fiction|Animation|Family|Comedy|Adventure,TriStar Pictures|Ilion Animation Studios|Hand ...,11/19/2009,5.7,2009
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
1135,tt0306685,25000000,56489558,Cradle 2 the Grave,Jet Li|DMX|Kelly Hu|Anthony Anderson|Tom Arnold,Andrzej Bartkowiak,Mortal enemies make dangerous friends.,Gang leader Tony pulls off a major diamond hei...,101,Action|Crime|Drama,Silver Pictures|Warner Bros.,2/28/2003,5.9,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit']=data.revenue-data.budget # создадим новую колонку, куда сохраним прибыль

#напишем функцию, которая преобразует строку в список
def string_to_list(string):
    result = string.str.split('|')
    return result


data['genres_list'] = string_to_list(data.genres) # создадим новую колонку, куда запишем жанры фильмов как списки

data['release_month'] = data.release_date.str.split("/").str[0] # создадим новую колонку для месяца выпуска фильма

#напишем функцию для определения сезона выпуска фильма
def season(m):
    
    if 3 <= m <= 5:
        result = 'spring'
    elif 6 <= m <= 8:
        result = 'summer'
    elif 9 <= m <= 11:
        result = 'autumn'
    else:
        result = 'winter'
        
    return result

data['release_season'] = data.release_month.astype(int).apply(season) # запишем сезон выпуска фильма в новую колонку

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals'

In [8]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh'

In [10]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'

In [12]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar'

In [16]:
data.original_title[data.profit==data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger'

In [18]:
data.original_title[data.profit==data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

In [20]:
len(data[data.revenue>data.budget].index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight'

In [22]:
data2008=data[data.release_year == 2008] # фильтруем фильмы,выпущенные в 2008 году
data2008.original_title[data2008.revenue == data2008.revenue.max()] # находим фильм с самой большой выручкой

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger'

In [24]:
# фильтруем фильмы,выпущенные в 2012-2014гг
data2012_2014 = data[(2012 <= data.release_year)&(data.release_year <= 2014)] 
# находим фильм с наименьшей прибылью
data2012_2014.original_title[data2012_2014.profit == data2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

In [26]:
# разбиваем строку по разделителю, считаем количество элементов, находим самый часто встречающийся элемент
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama'

In [28]:
# фильтруем только прибыльные фильмы
data_profitable = data[data.profit > 0]
# находим самый часто встречающийся жанр, среди прибыльных фильмов
Counter(data_profitable.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = 'Peter Jackson'

In [30]:
# считаем общие сборы по каждому режиссеру, сортируем получившиеся данные по убыванию суммы сборов
data.groupby(['director'])['revenue'].sum().sort_values(ascending =  False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = 'Robert Rodriguez'

In [32]:
# фильтруем фильмы, где жанр содержит "Action"
data_action = data[data.genres.str.contains('Action')]
# находим самый часто встречающийся жанр, среди прибыльных фильмов
Counter(data_action.director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = 'Chris Hemsworth'

In [34]:
data_2012 = data[data.release_year == 2012] # фильтруем фильмы 2012 года
data_2012.cast = data_2012.cast.apply(lambda c: c.split('|')) # преобразуем строку с актерами в список
data_2012 = data_2012.explode('cast') # разбиваем датафрейм так, чтобы в каждой строке был только один актер
# считаем выручку по каждому актеру, сортируем по убыванию выручки, находим первое значение
data_2012.groupby('cast')['revenue'].sum().sort_values(ascending =  False).head(1)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
answers['16'] = 'Matt Damon'

In [36]:
# фильтруем фильмы с бюджетом выше среднего
data_high_budget = data[data.budget > data.budget.mean()]
# разбиваем датафрейм так, чтобы в каждой строке был только один актер, находим самое часто встречающееся значение
data_high_budget.cast.str.split('|').explode('cast').mode()[0]

'Matt Damon'

In [37]:
# фильтруем фильмы с бюджетом выше среднего
data_high_budget = data[data.budget > data.budget.mean()]
# разбиваем строкоые значения cast по разделителю, находим самое часто встречающееся значение
Counter(data_high_budget.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action'

In [39]:
# фильтруем строки, где в cast встречается Nicolas Cage
# разбиваем датафрейм так, чтобы в каждой строке был только один жанр, находим самое часто встречающееся значение
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode('genres').mode()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker'

In [41]:
# фильтруем строки, где в prodcution_companies встречается Paramount Pictures
data_paramount = data[data.production_companies.str.contains("Paramount Pictures")]
# находим фильм с минимальной прибылью
data_paramount.original_title[data_paramount.profit == data_paramount.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015'

In [43]:
# группируем выручку по годам, сортируем по убыванию, находим первое значение
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014'

In [45]:
# фильтруем строки, где в prodcution_companies встречается Warner Bros
data_wb = data[data.production_companies.str.contains("Warner Bros")]
# группируем выручку по годам, сортируем по убыванию, находим первое значение
data_wb.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = 'Сентябрь'

In [47]:
# группируем количество вышедших фильмов по месяцам, сортируем по убыванию, находим первое значение
data.groupby(['release_month']).original_title.count().sort_values(ascending=False).head(1)

release_month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '450'

In [49]:
data[data.release_season == 'summer'].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson'

In [51]:
Counter(data[data.release_season == 'winter'].director).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = 'Four By Two Productions'

In [64]:
# создаем новый столбец и записываем в него длину названия фильмов
data['title_length'] = data['original_title'].map(lambda x: len(x))
# разбиваем датафрейм так, чтобы в каждой строке была только одна студия, оставляем только уникальные значения
companies = data['production_companies'].str.split('|').explode().unique()
# создаем новую series c индексом - названиями студий
comp_title = pd.Series(dtype='float64', index=companies)
# для каждой студии записываем среднюю длину названий фильмов
for comp in companies:
    comp_title[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
# выводим первую строку данных Студия - Средняя длина названия, остортированных по убыванию
comp_title.sort_values(ascending=False).head(1)

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = 'Midnight Picture Show '

In [53]:
data['overview_length'] = data['overview'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['overview_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [83]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show '}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

25