In [299]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [300]:
data = pd.read_csv('/Users/liliya/sf_projects/billionare/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1521,tt0482546,30000000,35078241,Miss Potter,Ewan McGregor|RenÃ©e Zellweger|Emily Watson|Ba...,Chris Noonan,The life of Beatrix Potter is the most enchant...,"The story of Beatrix Potter, the author of the...",92,Drama|Family|Romance,BBC Films,12/3/2006,6.2,2006
1367,tt0355295,88000000,105316267,The Brothers Grimm,Heath Ledger|Matt Damon|Mackenzie Crook|Roger ...,Terry Gilliam,Eliminating Evil Since 1812.,"Folklore collectors and con artists, Jake and ...",118,Adventure|Fantasy|Action|Comedy|Thriller,The Weinstein Company|Summit Entertainment|Atl...,8/25/2005,5.4,2005
1005,tt1656190,30000000,40346186,Safe,Jason Statham|Chris Sarandon|James Hong|Cather...,Boaz Yakin,She has the code. He is the key.,After a former elite agent rescues a 12-year-o...,94,Action|Crime|Thriller,Lawrence Bender Productions|IM Global|Automati...,4/16/2012,6.2,2012
647,tt0910936,27000000,101624843,Pineapple Express,Seth Rogen|James Franco|Danny McBride|Gary Col...,David Gordon Green,Put this in your pipe and smoke it.,A stoner and his dealer are forced to go on th...,111,Action|Comedy,Columbia Pictures|Apatow Productions,8/6/2008,6.6,2008
1684,tt0467406,7500000,231411584,Juno,Ellen Page|Michael Cera|Jennifer Garner|Jason ...,Jason Reitman,A comedy about growing up... and the bumps alo...,A young girl named Juno gets herself pregnant ...,96,Comedy|Drama|Romance,Fox Searchlight Pictures|Mandate Pictures,12/5/2007,6.9,2007

In [301]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [302]:
answers = {} # создадим словарь для ответов

data['profit']=data.revenue-data.budget # создадим новую колонку, куда сохраним прибыль

#напишем функцию, которая преобразует строку в список
def string_to_list(string):
    result = string.str.split('|')
    return result


data['genres_list'] = string_to_list(data.genres) # создадим новую колонку, куда запишем жанры фильмов как списки

data['release_month'] = data.release_date.str.split("/").str[0] # создадим новую колонку для месяца выпуска фильма

#напишем функцию для определения сезона выпуска фильма
def season(m):
    
    if 3 <= m <= 5:
        result = 'spring'
    elif 6 <= m <= 8:
        result = 'summer'
    elif 9 <= m <= 11:
        result = 'autumn'
    else:
        result = 'winter'
        
    return result

data['release_season'] = data.release_month.astype(int).apply(season) # запишем сезон выпуска фильма в новую колонку

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [303]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [304]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [305]:
answers['2'] = 'Gods and Generals'

In [306]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [307]:
answers['3'] = 'Winnie the Pooh'

In [308]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [309]:
answers['4'] = '110'

In [310]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [311]:
answers['5'] = '107'

In [312]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [313]:
answers['6'] = 'Avatar'

In [314]:
data.original_title[data.profit==data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [315]:
answers['7'] = 'The Lone Ranger'

In [316]:
data.original_title[data.profit==data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [317]:
answers['8'] = '1478'

In [318]:
len(data[data.revenue>data.budget].index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [319]:
answers['9'] = 'The Dark Knight'

In [320]:
data2008=data[data.release_year == 2008] # фильтруем фильмы,выпущенные в 2008 году
data2008.original_title[data2008.revenue == data2008.revenue.max()] # находим фильм с самой большой выручкой

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [321]:
answers['10'] = 'The Lone Ranger'

In [322]:
# фильтруем фильмы,выпущенные в 2012-2014гг
data2012_2014 = data[(2012 <= data.release_year)&(data.release_year <= 2014)] 
# находим фильм с наименьшей прибылью
data2012_2014.original_title[data2012_2014.profit == data2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [323]:
answers['11'] = 'Drama'

In [324]:
# разбиваем строку по разделителю, считаем количество элементов, находим самый часто встречающийся элемент
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [325]:
answers['12'] = 'Drama'

In [326]:
# фильтруем только прибыльные фильмы
data_profitable = data[data.profit > 0]
# находим самый часто встречающийся жанр, среди прибыльных фильмов
Counter(data_profitable.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [327]:
answers['13'] = 'Peter Jackson'

In [328]:
# считаем общие сборы по каждому режиссеру, сортируем получившиеся данные по убыванию суммы сборов
data.groupby(['director'])['revenue'].sum().sort_values(ascending =  False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [329]:
answers['14'] = 'Robert Rodriguez'

In [330]:
# фильтруем фильмы, где жанр содержит "Action"
data_action = data[data.genres.str.contains('Action')]
# находим самый часто встречающийся жанр, среди прибыльных фильмов
Counter(data_action.director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [331]:
answers['15'] = 'Chris Hemsworth'

In [332]:
data_2012 = data[data.release_year == 2012] # фильтруем фильмы 2012 года
data_2012.cast = data_2012.cast.apply(lambda c: c.split('|')) # преобразуем строку с актерами в список
data_2012 = data_2012.explode('cast') # разбиваем датафрейм так, чтобы в каждой строке был только один актер
# считаем выручку по каждому актеру, сортируем по убыванию выручки, находим первое значение
data_2012.groupby('cast')['revenue'].sum().sort_values(ascending =  False).head(1)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [333]:
answers['16'] = 'Matt Damon'

In [334]:
# фильтруем фильмы с бюджетом выше среднего
data_high_budget = data[data.budget > data.budget.mean()]
# разбиваем датафрейм так, чтобы в каждой строке был только один актер, находим самое часто встречающееся значение
data_high_budget.cast.str.split('|').explode('cast').mode()[0]

'Matt Damon'

In [335]:
# фильтруем фильмы с бюджетом выше среднего
data_high_budget = data[data.budget > data.budget.mean()]
# разбиваем строкоые значения cast по разделителю, находим самое часто встречающееся значение
Counter(data_high_budget.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [336]:
answers['17'] = 'Action'

In [337]:
# фильтруем строки, где в cast встречается Nicolas Cage
# разбиваем датафрейм так, чтобы в каждой строке был только один жанр, находим самое часто встречающееся значение
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode('genres').mode()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [338]:
answers['18'] = 'K-19: The Widowmaker'

In [339]:
# фильтруем строки, где в prodcution_companies встречается Paramount Pictures
data_paramount = data[data.production_companies.str.contains("Paramount Pictures")]
# находим фильм с минимальной прибылью
data_paramount.original_title[data_paramount.profit == data_paramount.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [351]:
answers['19'] = '2015'

In [350]:
# группируем выручку по годам, сортируем по убыванию, находим первое значение
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '2014'

In [353]:
# фильтруем строки, где в prodcution_companies встречается Warner Bros
data_wb = data[data.production_companies.str.contains("Warner Bros")]
# группируем выручку по годам, сортируем по убыванию, находим первое значение
data_wb.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [355]:
answers['21'] = 'Сентябрь'

In [354]:
# группируем количество вышедших фильмов по месяцам, сортируем по убыванию, находим первое значение
data.groupby(['release_month']).original_title.count().sort_values(ascending=False).head(1)

release_month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [356]:
answers['22'] = '450'

In [357]:
data[data.release_season == 'summer'].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [358]:
answers['23'] = 'Peter Jackson'

In [359]:
Counter(data[data.release_season == 'winter'].director).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [345]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [346]:
data['overview_length'] = data['overview'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['overview_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Lions Gate Family Entertainment      909.0
Crest Animation Productions          909.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [347]:
data.vote_average.value_counts(normalize=True,bins=100).sort_values(ascending=False)

(6.468, 6.516]    0.055585
(5.892, 5.94]     0.053467
(5.988, 6.036]    0.052938
(6.084, 6.132]    0.052938
(6.18, 6.228]     0.051350
                    ...
(3.444, 3.492]    0.000000
(7.908, 7.956]    0.000000
(3.348, 3.396]    0.000000
(7.044, 7.092]    0.000000
(4.404, 4.452]    0.000000
Name: vote_average, Length: 100, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [348]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker'}

In [349]:
# и убедиться что ни чего не пропустил)
len(answers)

18